/* CSS Document */
html, body
{
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	margin: 0;
	padding: 0;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section
{
	display: block;
}

audio, canvas, video
{
	display: inline-block;
	*display: inline;
	*zoom: 1;
}

body, button, input, select, textarea
{
	margin: 0;
	padding: 0;
}

input, select, textarea
{
	font-size: 100%;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

th
{
	text-align: inherit;
}

fieldset, img
{
	border: 0;
}

iframe
{
	display: block;
}

abbr, acronym
{
	border: 0;
	font-variant: normal;
}

del
{
	text-decoration: line-through;
}

address, caption, cite, code, dfn, em, var
{
	font-style: normal;
	font-weight: 500;
}

ol, ul
{
	list-style: none;
}

caption, th
{
	text-align: left;
}

h1, h2, h3, h4, h5, h6
{
	font-size: 100%;
	font-weight: 500;
}

q:before, q:after
{
	content: '';
}

sub, sup
{
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup
{
	top: -0.5em;
}

sub
{
	bottom: -0.25em;
}

ins, a
{
	text-decoration: none;
}

/*字体样式信息*/
.fontSize13
{
	font-family: Verdana;
	font-size: 13px;
}

.fontSizeTitle
{
	font-family: 微软雅黑;
	font-size: 18px;
	font-weight: bold;
}

.fn-clear
{
	*zoom: 1;
}

	.fn-clear:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

.fn-left, .fn-right
{
	display: inline;
}

.fn-left
{
	float: left;
}

.fn-right
{
	float: right;
}

.fn-hide
{
	display: none;
}

.fn-rmb
{
	font-family: Verdana;
	font-size: 14px;
}

.fn-text-overflow
{
	white-space: nowrap;
	width: 100%;
	overflow: hidden;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis;
}

.ui-form .ui-form-item
{
	*zoom: 1;
}

	.ui-form .ui-form-item:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

	.ui-form .ui-form-item .ui-input, .ui-form .ui-form-item .ui-textarea
	{
		border: solid 1px #ddd;
		color: #555;
	}

	.ui-form .ui-form-item .ui-requite
	{
		color: #e4393c;
	}

	.ui-form .ui-form-item .ui-input, .ui-form .ui-form-item .ui-verify, .ui-form .ui-form-item .ui-tooltip, .ui-form .ui-form-item .ui-textarea, .ui-form .ui-form-item .ui-required
	{
		float: left;
		display: inline;
	}

	.ui-form .ui-form-item .ui-verify
	{
		display: none;
		width: 20px;
		height: 20px;
		background-image: url(../images/ui-icon.png);
		_background-image: url(../images/ui-icon.gif);
		background-repeat: no-repeat;
		margin: 0 10px;
	}

	.ui-form .ui-form-item .ui-tooltip
	{
		display: none;
		position: relative;
		height: 20px;
		line-height: 20px;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;
	}

		.ui-form .ui-form-item .ui-tooltip .ui-tooltip-arrow
		{
			position: absolute;
			left: -13px;
			top: 0;
			height: 20px;
			width: 20px;
			background-image: url(../images/ui-icon.png);
			_background-image: url(../images/ui-icon.gif);
			background-repeat: no-repeat;
		}

		.ui-form .ui-form-item .ui-tooltip .ui-tooltip-cont
		{
			padding: 0 8px;
			color: #fff;
		}

	.ui-form .ui-form-item .ui-watermark
	{
		float: left;
		display: inline;
		position: relative;
	}

		.ui-form .ui-form-item .ui-watermark .watermarks
		{
			height: 32px;
			line-height: 32px;
		}

	.ui-form .ui-form-item .ui-required
	{
		color: #e4393c;
	}

.ui-form .ui-form-item-nomb
{
	margin-bottom: 0;
}

.ui-form .ui-form-item-focus .ui-input
{
	border: solid 1px #999;
}

.ui-form .ui-form-item-success .ui-verify
{
	background-position: 0 0;
}

.ui-form .ui-form-item-warning .ui-verify
{
	background-position: -20px 0;
}

.ui-form .ui-form-item-error .ui-verify
{
	background-position: -40px 0;
}

.ui-form .ui-form-item-success .ui-verify
{
	display: block;
}

.ui-form .ui-form-item-success .ui-tooltip
{
	display: none;
}

.ui-form .ui-form-item-error .ui-tooltip
{
	border: solid 1px #ed5959;
	background-color: #ff7a7a;
}

	.ui-form .ui-form-item-error .ui-tooltip .ui-tooltip-arrow
	{
		background-position: -80px 0;
	}

.ui-form .ui-form-item-error .ui-verify, .ui-form .ui-form-item-error .ui-tooltip
{
	display: block;
}

.input-verifycode
{
	width: 120px;
}

.verifycode
{
	float: left;
	display: inline;
	margin-left: 10px;
}

	.verifycode img
	{
		max-width: none;
	}

	.verifycode img, .verifycode a
	{
		display: block;
		float: left;
		display: inline;
	}

	.verifycode .another, .verifycode .another:hover
	{
		line-height: 30px;
		margin-left: 5px;
		color: #555;
	}

.pager
{
	*zoom: 1;
}

	.pager:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

.pager-count
{
	float: left;
	display: inline;
	line-height: 36px;
	height: 36px;
	color: #555;
	font-family: 微软雅黑;
}

.ui-pager
{
	*zoom: 1;
	font-family: Verdana;
}

	.ui-pager:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

	.ui-pager .ui-pager-item
	{
		float: left;
		display: inline;
		margin-left: 5px;
		width: 29px;
		height: 29px;
		text-align: center;
		line-height: 29px;
		color: #555;
		background-color: #fff;
		border: solid 1px #e5e5e5;
		font-family: "微软雅黑";
	}

	.ui-pager a:hover
	{
		border: solid 1px #e4393c;
		color: #555;
		background-color: #ffecec;
	}

	.ui-pager .ui-pager-item-prev, .ui-pager .ui-pager-item-next
	{
		width: 65px;
	}

	.ui-pager .ui-pager-item-current, .ui-pager .ui-pager-item-current:hover
	{
		color: #fff;
		background-color: #e4393c;
		border: solid 1px #e4393c;
	}

	.ui-pager .ui-pager-item-disabled, .ui-pager .ui-pager-item-disabled:hover
	{
		background-color: #eee;
		border: solid 1px #e5e5e5;
	}

.ui-step:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ui-step
{
	*zoom: 1;
}

	.ui-step .ui-step-item
	{
		float: left;
	}

.step-3 .ui-step-item
{
	float: left;
	height: 25px;
	line-height: 25px;
	overflow: hidden;
	text-align: center;
	color: #666;
}

	.step-3 .ui-step-item span
	{
		width: 244px;
		display: inline-block;
		font-size: 14px;
		font-family: 微软雅黑;
		height: 25px;
		line-height: 25px;
		float: left;
		background: url(/global/images/member/s-step.png) repeat-x 0 -75px;
		_background: url(/global/images/member/s-step.gif) repeat-x 0 -75px;
		border-top: solid 1px #d6d6d6;
		border-bottom: solid 1px #d6d6d6;
	}

	.step-3 .ui-step-item b
	{
		width: 27px;
		height: 25px;
		display: inline-block;
		float: left;
		background: url(/global/images/member/s-step.png) no-repeat 0 -50px;
		_background: url(/global/images/member/s-step.gif) no-repeat 0 -50px;
	}

.step-3 .ui-step-item-first span
{
	border-left: solid 1px #d9d9d9;
}

.step-3 .ui-step-item-last span
{
	border-right: solid 1px #d9d9d9;
}

.step-3 .ui-step-item-current span
{
	background: #ed1c24;
	border: solid 1px #ed1c24;
	border-right: 0;
	color: #fff;
}

.step-3 .ui-step-item.ui-step-item-current b
{
	background-position: 0 0;
}

	.step-3 .ui-step-item.ui-step-item-current b.ui-step-item-right
	{
		background-position: 0 -34px;
	}

.step-3.progress-1 .ui-step-item b.ui-step-item-left
{
	background-position: 0 0;
}

.step-3.progress-1 .ui-step-item b.ui-step-item-right
{
	background-position: 0 -50px;
}

.step-3.progress-2 .ui-step-item.ui-step-item-first b
{
	background-position: 0 -25px;
}

.step-3.progress-2 .ui-step-item b.ui-step-item-left
{
	background-position: 0 -25px;
}

.step-3.progress-2 .ui-step-item.ui-step-item-current b.ui-step-item-right
{
	background-position: 0 0;
}

.step-3.progress-3 .ui-step-item b.ui-step-item-right
{
	background-position: 0 -25px;
}

.step-3.progress-4 .ui-step-item b.ui-step-item-last-right
{
	background-position: 0 -34px;
}

.ui-step-h30 .ui-step-item
{
	height: 30px;
	line-height: 30px;
}

	.ui-step-h30 .ui-step-item span
	{
		line-height: 30px;
		height: 30px;
		width: 157px;
		background-position: 0 -190px;
	}

	.ui-step-h30 .ui-step-item b
	{
		height: 30px;
		background-position: 0 -100px;
	}

.ui-step-h30.progress-1 .ui-step-item b.ui-step-item-left
{
	background-position: 0 -100px;
}

.ui-step-h30.progress-1 .ui-step-item b.ui-step-item-right
{
	background-position: 0 -160px;
}

.ui-step-h30.progress-2 .ui-step-item b.ui-step-item-left
{
	background-position: 0 -130px;
}

.step-3.progress-2 .ui-step-item.ui-step-item-current b.ui-step-item-right
{
	background-position: 0 -100px;
}

.ui-step-h30.progress-3 .ui-step-item b.ui-step-item-left
{
	background-position: 0 -160px;
}

.ui-step-h30.progress-3 .ui-step-item b.ui-step-item-right
{
	background-position: 0 -130px;
}

.step-3 .ui-step-item-first span
{
	-webkit-border-bottom-left-radius: 3px;
	-moz-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	-moz-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}

.step-3 .ui-step-item-last span
{
	-webkit-border-bottom-right-radius: 3px;
	-moz-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-moz-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

.ui-msg
{
	padding-left: 47px;
	background: url(/global/images/ui-icon.png) no-repeat;
	_background: url(/global/images/ui-icon.gif) no-repeat;
}

	.ui-msg .ui-msg-cont
	{
		font-family: 微软雅黑;
		font-size: 18px;
		color: #555;
		display: block;
		font-weight: bold;
	}

	.ui-msg .ui-msg-remark
	{
		line-height: 25px;
	}

		.ui-msg .ui-msg-remark span
		{
			color: #e54245;
		}

.ui-msg-success
{
	background-position: -140px 0;
}

.ui-msg-warning
{
	background-position: -100px -40px;
}

.ui-msg-error
{
	background-position: -60px -80px;
}

.ui-btn
{
	display: inline-block;
	width: 102px;
	height: 32px;
	line-height: 32px;
	border-width: 0;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	background: url(/global/images/member/s-btn.png) 0 0 no-repeat;
	_background: url(/global/images/member/s-btn.gif) 0 0 no-repeat;
}

	.ui-btn:hover
	{
		color: #fff;
	}

.btn-gary
{
	background-position: 0 -40px;
	color: #555;
}

	.btn-gary:hover
	{
		color: #555;
	}

.btn-pay
{
	background-position: -162px -40px;
	width: 52px;
	height: 22px;
	line-height: 22px;
	font-size: 12px;
}

.btn-cart
{
	background-position: -162px 0;
	width: 92px;
	height: 27px;
	line-height: 27px;
	font-size: 12px;
}

.btn-redshort
{
	background-position: -162px -80px;
	line-height: 27px;
	height: 27px;
	width: 82px;
	color: #fff;
}

	.btn-redshort:hover
	{
		color: #fff;
	}

.btn-grayshort
{
	background-position: -162px -119px;
	line-height: 27px;
	height: 27px;
	width: 82px;
	color: #555;
}

	.btn-grayshort:hover
	{
		color: #555;
	}

.btn-disabled
{
	background-position: -162px -159px;
	width: 102px;
	height: 32px;
	line-height: 32px;
	color: #ccc;
}

	.btn-disabled:hover
	{
		color: #ccc;
	}

html, body
{
	font-size: 12px;
	color: #999;
	background-color: #fff;
}

a
{
	color: #555;
}

	a:hover
	{
		text-decoration: none;
		color: #fe7171;
	}

p
{
	line-height: 20px;
}

img
{
	vertical-align: top;
	max-width: 100%;
}

.wrap
{
	width: 1000px;
	margin: 0 auto;
}

.fc-red
{
	color: #e4393c;
}

.fc-darkgray
{
	color: #555;
}

.fn-rmb
{
	color: #e4393c;
	font-weight: bold;
	font-family: Arial;
}

.fc-blue
{
	color: #005ea7;
}

.fc-gary
{
	color: #999;
}

.mb10
{
	margin-bottom: 10px;
}

.mb20
{
	margin-bottom: 20px;
}

.fw-bold
{
	font-weight: bold;
}

.module-gary
{
	border: solid 1px #e5e5e5;
}

	.module-gary .module-title
	{
		height: 28px;
		line-height: 28px;
		padding: 0 10px;
		border-bottom: solid 1px #e5e5e5;
		background-color: #f7f7f7;
		color: #555;
		font-family: 微软雅黑;
		font-weight: bold;
	}

	.module-gary .module-more
	{
		color: #999;
		float: right;
	}

	.module-gary .module-title
	{
		font-family: 微软雅黑;
		font-size: 14px;
	}

	.module-gary .module-more:hover
	{
		color: #fe7171;
	}

.topbar
{
	border-bottom: solid 1px #f3f3f3;
	background-color: #fafafa;
	height: 28px;
	line-height: 28px;
	position: relative;
}

	.topbar a
	{
		color: #999;
	}

		.topbar a:hover
		{
			color: #fe7171;
		}

	.topbar .topbar-l .collect i
	{
		background: url(/global/images/s-icon.png) -4px -4px no-repeat;
		_background: url(/global/images/s-icon.gif) -4px -4px no-repeat;
		width: 16px;
		height: 12px;
		display: inline-block;
		float: left;
		display: inline;
		margin-top: 7px;
	}

	.topbar .topbar-l .attentionbar
	{
		margin-left: 10px;
		padding: 0 10px 0 10px;
		position: absolute;
		width: 168px;
		border: solid 1px #fafafa;
		border-bottom: solid 1px #fff;
	}

		.topbar .topbar-l .attentionbar .attentionbar-hd span
		{
			padding-right: 3px;
			float: left;
			display: inline;
		}

		.topbar .topbar-l .attentionbar .attentionbar-hd i
		{
			float: left;
			display: inline;
			margin-top: 3px;
			background: url(/global/images/s-icon.png) no-repeat;
			_background: url(/global/images/s-icon.gif) no-repeat;
			width: 20px;
			height: 18px;
			display: inline-block;
		}

		.topbar .topbar-l .attentionbar .attentionbar-hd .qq
		{
			background-position: -22px 0;
		}

		.topbar .topbar-l .attentionbar .attentionbar-hd .sina
		{
			background-position: -42px 0;
		}

		.topbar .topbar-l .attentionbar .attentionbar-hd .ui-tooltip
		{
			border: solid 1px #bfbfbf;
			-webkit-border-radius: 2px;
			-moz-border-radius: 2px;
			border-radius: 2px;
			float: left;
			display: inline;
			height: 18px;
			line-height: 18px;
			margin: 3px 0 0 0;
			padding: 0 7px;
			position: absolute;
			left: 80px;
		}

			.topbar .topbar-l .attentionbar .attentionbar-hd .ui-tooltip .ui-tooltip-arrow
			{
				background: url(/global/images/s-icon.png) no-repeat;
				_background: url(/global/images/s-icon.gif) no-repeat;
				background-position: -181px -7px;
				width: 5px;
				height: 8px;
				display: inline-block;
				position: absolute;
				left: -5px;
				top: 5px;
			}

		.topbar .topbar-l .attentionbar .attentionbar-cont
		{
			display: none;
			padding-top: 10px;
		}

			.topbar .topbar-l .attentionbar .attentionbar-cont p
			{
				padding-top: 5px;
			}

	.topbar .topbar-l .attentionbar-show
	{
		border: solid 1px #e3e3e3;
		background-color: #fff;
		padding-bottom: 10px;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
		box-shadow: 0 0 5px rgba(0,0,0,0.11);
	}

		.topbar .topbar-l .attentionbar-show .attentionbar-cont
		{
			display: block;
		}

	.topbar .topbar-r span
	{
		color: #999;
	}

	.topbar .topbar-r .ui-repeater
	{
		*zoom: 1;
		display: inline-block;
	}

		.topbar .topbar-r .ui-repeater:after
		{
			display: block;
			content: "";
			clear: both;
			visibility: hidden;
			font-size: 0;
			line-height: 0;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item
		{
			float: left;
			display: inline;
		}

			.topbar .topbar-r .ui-repeater .ui-repeater-item .fc-darkgray
			{
				color: #555;
			}

				.topbar .topbar-r .ui-repeater .ui-repeater-item .fc-darkgray:hover
				{
					color: #fe7171;
				}

			.topbar .topbar-r .ui-repeater .ui-repeater-item i
			{
				display: inline-block;
				width: 17px;
				margin-right: 3px;
				float: left;
				display: inline;
				height: 14px;
				background: url(/global/images/s-icon.png) no-repeat;
				_background: url(/global/images/s-icon.gif) no-repeat;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item a
			{
				float: left;
				display: inline;
				padding: 0 10px;
				border-left: solid 1px #e5e5e5;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item a, .topbar .topbar-r .ui-repeater .ui-repeater-item i, .topbar .topbar-r .ui-repeater .ui-repeater-item b
			{
				margin: 7px 0;
				height: 14px;
				line-height: 14px;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item .arrow
			{
				position: absolute;
				left: 54px;
				top: 11px;
				background: url(/global/images/s-icon.png) no-repeat;
				_background: url(/global/images/s-icon.gif) no-repeat;
				width: 9px;
				height: 5px;
				display: inline-block;
				background-position: -106px -8px;
				margin: 0 0 0 10px;
			}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-phone i
		{
			background-position: -58px -3px;
			border-left: solid 1px #e5e5e5;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-phone a
		{
			border-left: 0;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-help i
		{
			background-position: -80px -3px;
			border-left: solid 1px #e5e5e5;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-help a
		{
			border-left: 0;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-kf
		{
			margin: 7px 0;
			height: 14px;
			line-height: 14px;
			padding: 0 10px;
			border-left: solid 1px #e5e5e5;
		}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-sitenav
		{
			position: relative;
			z-index: 2000;
			*zoom: 1;
			width: 83px;
			padding: 1px;
		}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-sitenav .topline
			{
				display: none;
				background-color: #fff;
				height: 10px;
				width: 100%;
				position: absolute;
				top: 20px;
				left: 0;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-sitenav .ui-repeater-item-child
			{
				display: none;
				position: absolute;
				top: 28px;
				left: -1px;
				width: 63px;
				padding: 0 10px;
				background-color: #fff;
				border: solid 1px #e3e3e3;
				-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
				box-shadow: 0 0 5px rgba(0,0,0,0.11);
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-sitenav .ui-repeater-item
			{
				float: left;
				display: inline;
				border: 0;
				text-align: left;
			}

				.topbar .topbar-r .ui-repeater .ui-repeater-item-sitenav .ui-repeater-item a
				{
					display: inline-block;
					margin: 0;
					padding: 0;
					height: 20px;
					line-height: 20px;
					border: 0;
					color: #555;
				}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-focus
		{
			background-color: #fff;
			border: solid 1px #e3e3e3;
			padding: 0;
			-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
			box-shadow: 0 0 5px rgba(0,0,0,0.11);
		}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-focus .ui-repeater-item-focus-title
			{
				border-left: solid 1px #fff;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-focus .arrow
			{
				background-position: -207px -8px;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-focus .topline
			{
				display: block;
			}

			.topbar .topbar-r .ui-repeater .ui-repeater-item-focus .ui-repeater-item-child
			{
				display: block;
			}

		.topbar .topbar-r .ui-repeater .ui-repeater-item-nobl a
		{
			border-left: 0;
		}

.header .logo
{
	display: inline-block;
	width: 42%;
	padding: 16px 0 26px 0;
	float: left;
	display: inline;
	outline: none;
}

.header .serach
{
	width: 41%;
	float: left;
	display: inline;
	margin-top: 10px;
}

	.header .serach .serachbox
	{
		border: solid 2px #ed1c24;
		*zoom: 1;
		width: 372px;
		height: 31px;
		overflow: hidden;
	}

		.header .serach .serachbox:after
		{
			display: block;
			content: "";
			clear: both;
			visibility: hidden;
			font-size: 0;
			line-height: 0;
		}

		.header .serach .serachbox input
		{
			float: left;
			display: inline;
			border-width: 0;
		}

		.header .serach .serachbox .serachbox-text
		{
			width: 294px;
			height: 31px;
			line-height: 31px;
			padding-left: 10px;
			color: #555;
		}

		.header .serach .serachbox .serachbox-btn
		{
			width: 68px;
			line-height: 31px;
			height: 31px;
			background-color: #ed1c24;
			color: #fff;
			font-size: 16px;
			font-family: 微软雅黑;
			cursor: pointer;
		}

		.header .serach .serachbox .ui-watermark
		{
			float: left;
			display: inline;
			position: relative;
		}

			.header .serach .serachbox .ui-watermark .watermarks
			{
				height: 32px;
				line-height: 32px;
			}

	.header .serach .serachhot
	{
		*zoom: 1;
		margin-top: 8px;
	}

		.header .serach .serachhot:after
		{
			display: block;
			content: "";
			clear: both;
			visibility: hidden;
			font-size: 0;
			line-height: 0;
		}

		.header .serach .serachhot .serachhot-words
		{
			font-family: "微软雅黑";
			float: left;
			display: inline;
			width: 320px;
			height: 20px;
			line-height: 20px;
			overflow: hidden;
		}

			.header .serach .serachhot .serachhot-words a
			{
				margin-right: 3px\0;
				color: #999;
			}

				.header .serach .serachhot .serachhot-words a:hover
				{
					color: #fe7171;
				}

		.header .serach .serachhot .serachhot-more
		{
			width: 46px;
			text-align: center;
			padding: 2px 0;
			border: solid 1px #f3f3f3;
			background-color: #fafafa;
			float: left;
			display: inline;
			margin-left: 8px;
		}

.header .shopcart
{
	width: 16.5%;
	float: left;
	display: inline;
	margin-top: 10px;
}

	.header .shopcart .shopcart-w1
	{
		padding: 8px 8px 5px 12px;
		border: solid 1px #eee;
		background-color: #fafafa;
		position: relative;
		width: 143px;
		left: 8px;
		z-index: 1001;
		*zoom: 1;
	}

		.header .shopcart .shopcart-w1 .shopcart-hd .cart
		{
			position: relative;
			background: url(/global/images/s-icon.png) no-repeat;
			_background: url(/global/images/s-icon.gif) no-repeat;
			background-position: -226px -49px;
			width: 28px;
			height: 22px;
			float: left;
			display: inline;
		}

			.header .shopcart .shopcart-w1 .shopcart-hd .cart span
			{
				text-align: center;
				width: 13px;
				position: absolute;
				left: 10px;
				top: -5px;
				display: inline-block;
			}

		.header .shopcart .shopcart-w1 .shopcart-hd .arrow
		{
			background: url(/global/images/s-icon.png) no-repeat;
			_background: url(/global/images/s-icon.gif) no-repeat;
			width: 9px;
			height: 5px;
			display: inline-block;
			background-position: -106px -8px;
			margin-left: 10px;
		}

		.header .shopcart .shopcart-w1 .shopcart-cont
		{
			float: left;
			display: inline;
			position: absolute;
			right: -1px;
			_right: -2px;
			top: 35px;
			display: none;
			width: 358px;
			border: solid 1px #e3e3e3;
			background-color: #fff;
		}

			.header .shopcart .shopcart-w1 .shopcart-cont .line
			{
				height: 10px;
				background-color: #fff;
				width: 163px;
				position: absolute;
				top: -4px;
				right: 0;
			}

			.header .shopcart .shopcart-w1 .shopcart-cont .noshop
			{
				padding: 10px 20px;
			}

				.header .shopcart .shopcart-w1 .shopcart-cont .noshop p
				{
					background: url(/global/images/s-icon.png) no-repeat;
					_background: url(/global/images/s-icon.gif) no-repeat;
					background-position: 0 -458px;
					padding-left: 87px;
					line-height: 50px;
					height: 50px;
				}

			.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shop-title
			{
				color: #555;
				line-height: 30px;
				padding-left: 10px;
			}

			.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products
			{
				border-top: solid 1px #e5e5e5;
			}

				.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater
				{
					*height: 150px;
					max-height: 284px;
					overflow-y: scroll;
					overflow-x: hidden;
				}

					.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item
					{
						height: 50px;
						border-bottom: solid 1px #e5e5e5;
						*zoom: 1;
						padding: 10px;
						background-color: #fff;
					}

						.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item:after
						{
							display: block;
							content: "";
							clear: both;
							visibility: hidden;
							font-size: 0;
							line-height: 0;
						}

						.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info
						{
							width: 240px;
							float: left;
							display: inline;
						}

							.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info .product-pohto
							{
								width: 48px;
								height: 48px;
							}

							.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info a
							{
								display: block;
								margin-right: 10px;
							}

								.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info a img
								{
									border: solid 1px #e5e5e5;
								}

							.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info .product-title
							{
								color: #555;
								line-height: 18px;
							}

								.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info .product-title a
								{
									overflow: hidden;
									width: 172px;
									height: 34px;
									color: #555;
									display: block;
								}

									.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info .product-title a:hover
									{
										color: #fe7171;
									}

								.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .product-info .product-title p
								{
									line-height: 18px;
								}

						.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .operation
						{
							width: 78px;
							float: left;
							display: inline;
							text-align: right;
						}

							.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .operation .price
							{
								color: #e4393c;
								font-size: 14px;
								margin-right: 8px;
								font-family: Arial;
							}

								.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .operation .price b
								{
									font-family: 宋体;
								}

							.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .products .ui-repeater .ui-repeater-item .operation .del
							{
								color: #649ed3;
								display: block;
								line-height: 20px;
							}

			.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm
			{
				padding: 10px;
				background-color: #f6f6f6;
			}

				.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm .numtotal
				{
					line-height: 22px;
				}

					.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm .numtotal span
					{
						color: #e4393c;
						padding: 0 5px;
					}

				.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm .pricetotal
				{
					font-family: Arial;
				}

					.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm .pricetotal span
					{
						font-size: 22px;
						color: #e4393c;
						margin-left: 10px;
					}

					.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .shopcart-cont-btm .pricetotal b
					{
						font-family: 宋体;
					}

			.header .shopcart .shopcart-w1 .shopcart-cont .hasshop .btn-pay
			{
				border: solid 1px #ff5151;
				-webkit-border-radius: 3px;
				-moz-border-radius: 3px;
				border-radius: 3px;
				background-color: #ff5151;
				width: 113px;
				height: 25px;
				line-height: 25px;
				color: #fff;
				font-size: 14px;
				text-align: center;
				margin: 13px 10px 10px 225px;
				cursor: pointer;
			}

		.header .shopcart .shopcart-w1 .pay
		{
			margin-left: 10px;
		}

.header .shopcart-show .shopcart-w1
{
	border-bottom: #fff;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
	box-shadow: 0 0 5px rgba(0,0,0,0.11);
}

	.header .shopcart-show .shopcart-w1 .shopcart-cont
	{
		display: block;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
		box-shadow: 0 0 5px rgba(0,0,0,0.11);
	}

	.header .shopcart-show .shopcart-w1 .shopcart-hd .arrow
	{
		background-position: -207px -8px;
	}

.menu
{
	background: url(../images/bg-menu.jpg) repeat-x;
	-webkit-box-shadow: 1px 0 3px rgba(0,0,0,0.22);
	box-shadow: 1px 0 3px rgba(0,0,0,0.22);
	position: relative;
	z-index: 1000;
}

.menu-w1
{
	position: relative;
	z-index: 10;
	*zoom: 1;
}

.menu-main .ui-nav
{
	*zoom: 1;
	margin-left: 200px;
}

	.menu-main .ui-nav:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

.menu-main .ui-nav-item
{
	float: left;
	display: inline;
	position: relative;
	margin-right: 6px;
	padding: 0 10px;
	padding: 0 8px\0;
	*padding: 0 7px;
}

	.menu-main .ui-nav-item a
	{
		font-family: "微软雅黑";
		display: inline-block;
		height: 36px;
		line-height: 36px;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
	}

.menu-main .ui-nav-item-first
{
	margin-right: 6px;
}

.menu-main .ui-nav-child
{
	display: none;
}

.menu-main .ui-nav-item-last
{
	margin-right: 0;
}

.menu-main .ui-nav-item-current
{
	background-color: #d21c23;
}

	.menu-main .ui-nav-item-current .ui-nav-child
	{
		display: block;
		position: absolute;
		left: 0;
		*top: 36px;
		padding-top: 20px;
		width: 365px;
		border: 2px solid #ee2128;
		border-top: none;
		background-color: #fff;
	}

		.menu-main .ui-nav-item-current .ui-nav-child dl
		{
			padding: 0;
			padding-left: 10px;
		}

			.menu-main .ui-nav-item-current .ui-nav-child dl dt
			{
				font-family: "微软雅黑";
				width: 100%;
				color: #e4393c;
				font-weight: bold;
				margin-bottom: 17px;
			}

			.menu-main .ui-nav-item-current .ui-nav-child dl dd
			{
				float: left;
				display: inline;
				margin-left: 15px;
				padding-bottom: 16px;
				width: 72px;
				height: 14px;
			}

				.menu-main .ui-nav-item-current .ui-nav-child dl dd a
				{
					line-height: 14px;
					height: 14px;
					color: #555;
					font-size: 12px;
					font-weight: normal;
				}

					.menu-main .ui-nav-item-current .ui-nav-child dl dd a:hover
					{
						color: #fe7171;
					}

.menu-category
{
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 200px;
	background-color: #fff;
	-webkit-box-shadow: 3px 0 4px rgba(0,0,0,0.2);
	box-shadow: 3px 0 4px rgba(0,0,0,0.2);
}

.menu-category-hd
{
	cursor: pointer;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
	font-size: 14px;
	font-family: '微软雅黑';
	color: #fff;
	background: url(../images/bg-categoryMenu-head.jpg) no-repeat 0 0;
}

	.menu-category-hd i
	{
		display: inline-block;
		width: 20px;
		height: 20px;
		vertical-align: top;
		margin-top: 8px;
		margin-right: 13px;
		background-image: url(../images/s-icon.png);
		_background-image: url(../images/s-icon.gif);
		background-position: -260px 0;
	}

.menu-category-cont
{
	display: none;
	border: solid 2px #ee2128;
	border-top: 0;
}

	.menu-category-cont .ui-nav
	{
		padding-top: 2px;
		position: relative;
	}

	.menu-category-cont .ui-nav-item
	{
		border-top: solid 2px #fff;
		border-bottom: solid 2px #fff;
		_height: 58px;
	}

	.menu-category-cont .ui-nav-item-main
	{
		padding: 8px 8px 8px 8px;
		padding: 8px 8px 7px 8px \0;
		*padding: 8px 8px 9px 8px;
	}

	.menu-category-cont .ui-nav-item-last
	{
		border-bottom: 0;
		_margin-bottom: -4px;
		*border-bottom: solid 2px #fff;
		_border-bottom: 0;

	}

		.menu-category-cont .ui-nav-item-last.ui-nav-item-current
		{
			*border-bottom: 0;
			_border-bottom: solid 2px #fff;
		}

	.menu-category-cont .ui-nav-item-first
	{
		margin-top: -2px;
		_margin-top: 0;
	}

	.menu-category-cont .ui-nav-item-even
	{
		background-color: #f4f4f4;
	}

.ui-nav-child a
{
	font-family: "微软雅黑";
}

.menu-category-cont .menu-category-title
{
	padding-bottom: 4px;
	padding-bottom: 5px;
}

.ui-nav-child
{
}

.menu-category-cont .menu-category-title a
{
	font-family: "微软雅黑";
	font-size: 14px;
	display: block;
	height: 20px;
	line-height: 20px;
	padding-left: 23px;
	font-weight: bold;
	color: #555;
	background-image: url(../images/s-icon.png);
	_background-image: url(../images/s-icon.gif);
	background-repeat: no-repeat;
}

	.menu-category-cont .menu-category-title a:hover
	{
		color: #fe7171;
	}

@media screen and (-webkit-min-device-pixel-ratio:0)
{
	.menu-category-cont .menu-category-title
	{
		padding-bottom: 5px;
	}
}

.menu-category-cont .ui-nav-item-current .menu-category-title a
{
	color: #fe7171;
}

.menu-category-cont .ui-nav-child
{
	display: none;
}

.menu-category-cont .ui-nav-item-current.ui-nav-item-first .ui-nav-child
{
	top: -2px;
	_top: 0;
}

.menu-category-cont .ui-nav-item-current
{
	position: relative;
	border-color: #ed1c24;
	background-color: #fff;
}

	.menu-category-cont .ui-nav-item-current .ui-nav-item-main
	{
		background-color: #fff;
		margin-right: -2px;
		position: relative;
		z-index: 1;
	}

	.menu-category-cont .ui-nav-item-current .ui-nav-child
	{
		display: block;
		position: absolute;
		left: 196px;
		top: -20px;
		padding: 10px 0;
		width: 225px;
		background-color: #fff;
		border: 2px solid #ed1c24;
		line-height: 25px;
	}

		.menu-category-cont .ui-nav-item-current .ui-nav-child li
		{
			float: left;
			display: inline;
			margin-left: 20px;
			width: 92px;
		}

.menu-category-cont .menu-category-list
{
	padding-left: 23px;
}

	.menu-category-cont .menu-category-list a
	{
		color: #555;
	}

		.menu-category-cont .menu-category-list a:hover
		{
			color: #fe7171;
		}

.menu-category-cont .menu-category-title-jjjd a
{
	background-position: 0 -40px;
}

	.menu-category-cont .menu-category-title-jjjd a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-jjjd a
	{
		background-position: 0 -60px;
	}

.menu-category-cont .menu-category-title-sbdhj a
{
	background-position: 0 -80px;
}

	.menu-category-cont .menu-category-title-sbdhj a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-sbdhj a
	{
		background-position: 0 -100px;
	}

.menu-category-cont .menu-category-title-tsms a
{
	background-position: 0 -120px;
}

	.menu-category-cont .menu-category-title-tsms a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-tsms a
	{
		background-position: 0 -140px;
	}

.menu-category-cont .menu-category-title-wowj a
{
	background-position: 0 -160px;
}

	.menu-category-cont .menu-category-title-wowj a:hover, .menu-category-cont ui-nav-item-current .menu-category-title-wowj a
	{
		background-position: 0 -180px;
	}

.menu-category-cont .menu-category-title-jmhs a
{
	background-position: 0 -200px;
}

	.menu-category-cont .menu-category-title-jmhs a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-jmhs a
	{
		background-position: 0 -220px;
	}

.menu-category-cont .menu-category-title-msbj a
{
	background-position: 0 -240px;
}

	.menu-category-cont .menu-category-title-msbj a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-msbj a
	{
		background-position: 0 -260px;
	}

.menu-category-cont .menu-category-title-zsbj a
{
	background-position: 0 -280px;
}

	.menu-category-cont .menu-category-title-zsbj a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-zsbj a
	{
		background-position: 0 -300px;
	}

.menu-category-cont .menu-category-title-zbsp a
{
	background-position: 0 -320px;
	font-family: "微软雅黑";
}

	.menu-category-cont .menu-category-title-zbsp a:hover, .menu-category-cont .ui-nav-item-current .menu-category-title-zbsp a
	{
		background-position: 0 -340px;
	}

.menu-category-show .menu-category-hd i
{
	background-position: -280px 0;
}

.menu-category-show .menu-category-cont
{
	display: block;
}

.footer
{
	border-top: solid 4px #e54245;
	*zoom: 1;
	margin-top: 20px;
}

	.footer:after
	{
		display: block;
		content: "";
		clear: both;
		visibility: hidden;
		font-size: 0;
		line-height: 0;
	}

	.footer .service
	{
		padding: 20px 0;
		overflow: hidden;
	}

		.footer .service div
		{
			border-left: dotted 1px #e5e5e5;
			float: left;
			display: inline;
		}

		.footer .service .servicelink
		{
			width: 68%;
			border-left: 0;
		}

			.footer .service .servicelink dl
			{
				width: 20%;
				float: left;
				position: relative;
			}

				.footer .service .servicelink dl dt
				{
					margin-bottom: 10px;
					padding-left: 45px;
					font-size: 14px;
					font-family: 微软雅黑;
					color: #3c3c3c;
				}

					.footer .service .servicelink dl dt i
					{
						width: 40px;
						height: 40px;
						top: 0;
						display: inline-block;
						position: absolute;
						left: 0;
						background: url(/global/images/s-icon.png) no-repeat;
						_background: url(/global/images/s-icon.gif) no-repeat;
					}

				.footer .service .servicelink dl .xs
				{
					background-position: -223px -102px;
				}

				.footer .service .servicelink dl .zf
				{
					background-position: -223px -162px;
				}

				.footer .service .servicelink dl .ps
				{
					background-position: -223px -222px;
				}

				.footer .service .servicelink dl .sh
				{
					background-position: -223px -282px;
				}

				.footer .service .servicelink dl .wz
				{
					background-position: -223px -342px;
				}

				.footer .service .servicelink dl dd
				{
					line-height: 22px;
					padding-left: 45px;
				}

		.footer .service .contactus
		{
			width: 19%;
			height: 133px;
			text-align: center;
		}

		.footer .service .attentionus
		{
			width: 12%;
			height: 133px;
			text-align: center;
		}

			.footer .service .attentionus b
			{
				color: #3c3c3c;
				padding-bottom: 5px;
				display: block;
			}

	.footer .friendlink
	{
		border-top: solid 1px #e5e5e5;
		border-bottom: solid 1px #e5e5e5;
		height: 35px;
		overflow: hidden;
	}

		.footer .friendlink .friendlink-title
		{
			width: 78px;
			line-height: 35px;
		}

		.footer .friendlink .friendlink-cont
		{
			overflow: hidden;
			width: 835px;
		}

			.footer .friendlink .friendlink-cont .ui-repeater
			{
				*zoom: 1;
			}

				.footer .friendlink .friendlink-cont .ui-repeater:after
				{
					display: block;
					content: "";
					clear: both;
					visibility: hidden;
					font-size: 0;
					line-height: 0;
				}

				.footer .friendlink .friendlink-cont .ui-repeater .ui-repeater-item
				{
					display: inline-block;
					float: left;
					display: inline;
					height: 35px;
					white-space: nowrap;
				}

					.footer .friendlink .friendlink-cont .ui-repeater .ui-repeater-item a
					{
						padding: 0 10px;
						line-height: 35px;
					}

		.footer .friendlink .friendlink-more
		{
			width: 84px;
			height: 35px;
			position: relative;
			display: inline-block;
			cursor: pointer;
		}

		.footer .friendlink .arrow
		{
			width: 10px;
			height: 10px;
			position: absolute;
			left: 50%;
			margin: 12.5px 0;
			display: inline-block;
			background: url(/global/images/s-icon.png) center center no-repeat;
			_background: url(/global/images/s-icon.gif) center center no-repeat;
			background-position: -128px -5px;
		}

	.footer .friendlink-show
	{
		height: auto;
		overflow: visible;
	}

		.footer .friendlink-show .arrow
		{
			background-position: -154px -6px;
		}

	.footer .quicknav
	{
		text-align: center;
		padding-top: 20px;
		color: #555;
	}

		.footer .quicknav a
		{
			margin: 0 10px;
		}

	.footer .copyright
	{
		text-align: center;
		line-height: 22px;
		padding-top: 7px;
	}

	.footer .authentication
	{
		text-align: center;
		overflow: hidden;
		padding-top: 10px;
	}

		.footer .authentication iframe
		{
			display: inline;
			vertical-align: middle;
		}

.breadcrumb
{
	height: 34px;
	line-height: 34px;
	margin: 5px 0;
	background: url(/global/images/s-icon.png) -428px 3px no-repeat;
	_background: url(/global/images/s-icon.gif) -428px 3px no-repeat;
	padding-left: 20px;
	color: #555;
	font-family: 微软雅黑;
}

	.breadcrumb .breadcrumb-home
	{
		display: inline-block;
	}

	.breadcrumb a, .breadcrumb span
	{
		line-height: 34px;
		font-family: 微软雅黑;
	}

.article-thumb .article-abstract
{
	overflow: hidden;
}

	.article-thumb .article-abstract a
	{
		display: block;
		height: 20px;
		overflow: hidden;
		font-weight: bold;
		font-family: "微软雅黑";
	}

	.article-thumb .article-abstract p
	{
		line-height: 20px;
	}

.articles-culture .ui-repeater-item
{
	float: left;
	display: inline;
	padding: 10px;
}

	.articles-culture .ui-repeater-item .article-abstract
	{
		margin-left: 70px;
		height: 70px;
	}

		.articles-culture .ui-repeater-item .article-abstract a
		{
			height: 18px;
		}

		.articles-culture .ui-repeater-item .article-abstract p
		{
			line-height: 18px;
		}

.articles-culture .ui-repeater-item-br
{
	border-right: dotted 1px #e5e5e5;
}

.articles-culture .articles-culture-des
{
	padding: 10px;
	color: #555;
}

	.articles-culture .articles-culture-des p
	{
		text-indent: 2em;
		line-height: 18px;
	}

.sidepanel
{
	position: relative;
	zoom: 1;
	z-index: 1000;
}

.sidepanel-l
{
	position: fixed;
	bottom: 420px;
	z-index: 1000;
	right: 70px;
	width: 26px;
}

.totop
{
	margin-bottom: 8px;
}

	.totop a
	{
		display: block;
		width: 12px;
		cursor: pointer;
		padding: 53px 7px 0 7px;
		color: #999;
		background: url(../images/s-master.png) no-repeat 0 0;
	}

		.totop a:hover
		{
			background-position: -40px 0;
		}

.enterpriseqq-text
{
	display: block;
	width: 12px;
	cursor: pointer;
	padding: 29px 7px 0 7px;
	color: #999;
	background: url(../images/s-master.png) no-repeat -80px 0;
}

	.enterpriseqq-text:hover
	{
		background-position: -120px 0;
	}

.enterpriseqq
{
	position: relative;
}

	.enterpriseqq .ui-tooltip
	{
		display: none;
		position: absolute;
		top: -30px;
		padding: 16px;
		width: 90px;
		background-color: #fff;
		border: solid 1px #e5e5e5;
		-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.11);
		box-shadow: 0 0 5px rgba(0,0,0,0.11);
	}

	.enterpriseqq .ui-tooltip-arrow
	{
		position: absolute;
		top: 34px;
		width: 20px;
		height: 20px;
		background-image: url(../images/s-master.png);
		_background-image: url(../images/s-master.png);
		background-repeat: no-repeat;
	}

	.enterpriseqq .ui-tooltip-left
	{
		right: -135px;
	}

		.enterpriseqq .ui-tooltip-left .ui-tooltip-arrow
		{
			left: -15px;
			background-position: -280px 0;
		}

	.enterpriseqq .ui-tooltip-right
	{
		left: -135px;
	}

		.enterpriseqq .ui-tooltip-right .ui-tooltip-arrow
		{
			right: -14px;
			background-position: -300px 0;
		}

	.enterpriseqq .ui-reapter-item
	{
		height: 22px;
		padding-left: 28px;
		margin-bottom: 10px;
		background: url(../images/s-master.png) no-repeat -160px 0;
	}

		.enterpriseqq .ui-reapter-item a
		{
			display: inline-block;
			width: 62px;
			text-align: center;
			height: 22px;
			line-height: 22px;
			color: #fff;
			background: url(../images/s-master.png) no-repeat -200px 0;
		}

.ui-list-bank
{
	padding-bottom: 20px;
}

.ui-list-bank-yellow
{
	background-color: #fffdee;
	border: solid 1px #f1ecca;
}

.ui-list-bank:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.ui-list-bank
{
	*zoom: 1;
}

	.ui-list-bank .ui-list-bank-item
	{
		width: 215px;
		*width: 222px;
		height: 38px;
		float: left;
		margin: 20px 50px 0 35px;
		display: inline;
		cursor: pointer;
	}

		.ui-list-bank .ui-list-bank-item .btnrad
		{
			float: left;
			margin: 12px 10px 10px 0;
			cursor: pointer;
		}

		.ui-list-bank .ui-list-bank-item .pay
		{
			display: inline-block;
			float: left;
			width: 190px;
			height: 36px;
			border: solid 1px #ddd;
			background: url(/global/images/member/list.jpg) no-repeat;
		}

		.ui-list-bank .ui-list-bank-item .pay01
		{
			background-position: 0 0;
		}

		.ui-list-bank .ui-list-bank-item .pay02
		{
			background-position: -200px 0;
		}

		.ui-list-bank .ui-list-bank-item .pay03
		{
			background-position: -400px 0;
		}

		.ui-list-bank .ui-list-bank-item .pay04
		{
			background-position: 0 -40px;
		}

		.ui-list-bank .ui-list-bank-item .pay05
		{
			background-position: -200px -40px;
		}

		.ui-list-bank .ui-list-bank-item .pay06
		{
			background-position: -400px -40px;
		}

		.ui-list-bank .ui-list-bank-item .pay07
		{
			background-position: 0 -80px;
		}

		.ui-list-bank .ui-list-bank-item .pay08
		{
			background-position: -200px -80px;
		}

		.ui-list-bank .ui-list-bank-item .pay09
		{
			background-position: -400px -80px;
		}

		.ui-list-bank .ui-list-bank-item .pay10
		{
			background-position: 0 -120px;
		}

		.ui-list-bank .ui-list-bank-item .pay11
		{
			background-position: -200px -120px;
		}

		.ui-list-bank .ui-list-bank-item .pay12
		{
			background-position: -400px -120px;
		}

		.ui-list-bank .ui-list-bank-item .pay13
		{
			background-position: 0 -160px;
		}

		.ui-list-bank .ui-list-bank-item .pay14
		{
			background-position: -200px -160px;
		}

.paystructure
{
	font-weight: bold;
	color: #555;
}

.paycount .fn-rmb
{
	font-size: 18px;
}

.topbar-r
{
	width: auto;
}

.topbar-l
{
	position: relative;
}

.attentionbar
{
	left: 40px;
}

.gift-obj.fn-clear a
{
	width: 90px;
}

